html,body {
    overflow: auto;
}

.App {
  text-align: left;
}

*:focus {
  outline: none;
}

.header {
  background-color: black;
  height: 60px;
}

.logo {
  float: left;
  width: 40px;
  height: 40px;
  background: white;
  margin: 10px 0 10px 20px;
}

.title {
  position: relative;
  top: 30px;
  left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 18px;
}

.userSearch {
  position: relative;
  left: 150px;
  margin-right: 150px;
  top: 5px;
}

input {
    color: white;
    font-weight: 200;
}
input:focus {
    color: black;
    font-weight: 200;
}

.searchInput {
  width: 120px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  background: rgba(200, 200, 200, 0.6);
  border: transparent !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.searchInput:focus {
  background: rgba(255, 255, 255, 1);
  border: transparent !important;
  font-weight: 200;
  font-color: black !important;
}

.searchInput:after {
  font-color: white;
}

input:focus::-webkit-input-placeholder {
    color: black;
}

input:focus:-moz-placeholder {
    color: black;
}

input:focus::-moz-placeholder {
    color: black;
}

input:focus:-ms-input-placeholder {
    color: black;
}

.searchBtn {
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  background: rgba(255, 255, 255);
  border: transparent !important;
  margin-left: 5px;
  font-weight: bold;
}

.searchBtn:hover {
  background-color: rgba(220, 220, 220);
  cursor: pointer;
}

.a2a_kit, .a2a_kit_size_32 ,.a2a_default_style {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.a2a_dd, .a2a_button_copy_link {
  font-size: 0;
  width: 30px;
  display: inline-block;
  margin-top: -20px;
}

.icons-footer {
  display: none;
}

.flash-message {
  margin: 20px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.message-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.message-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.message-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.message-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.DisplayUser {
  margin: 30px 30px 0 30px;
}

.DisplayRepos {
  margin: 0 30px 30px 30px;
}

.DisplayUser *,
.DisplayRepos * {
  padding: 5px;
}

.DisplayLanguages {
  display: block;
  font-size: 26px;
  margin-bottom: 100px;
}

.avatar {
  width: 95%;
}

img:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


.UserInfo {
  min-height: 600px;
  padding: 3px;
  margin: 10px 10px 100px 10px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.2s ease-in;
}

.UserInfo.alreadyDisplayed {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.UserInfo.fadeIn {
  transition: all 0.2s ease-in;
  opacity: 1;
}

.UserInfo.fadeOut {
  transition: all 0.1s;
  opacity: 0;
}

.UserInfo a,
.UserInfo a:after,
.UserInfo a:active   {
    text-decoration: none;
    color: black;
}

.UserInfo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.wrapper {
  display: block;
  min-height: 100%;
  width: 100%;
}

.UserInfo a:hover {
  color: rgba(120, 120, 120);
}

footer {
  position: fixed;
  margin-top: 5%;
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  bottom: 0;
  padding: 4px 0;
  margin: 0;
  font-size: 14px;
  background-color: black;
  color: white;
}

footer a, footer a:after {
  text-decoration: underline;
  color: white;
}

@media only screen and (max-width: 500px) {
  .searchBtn {
    display: none;
  }
  .icons-header {
    display: none;
  }
  .icons-footer {
    display: inline-block;
    float: none;
    margin: 20px auto 0 auto;
  }
  .UserInfo {
    margin-left: auto;
    margin-right: auto;
  }
  .text-footer {
    display: none;
    text-align: center;
  }
}
