.App {
  text-align: left;
}

*:focus {
  outline: none;
}

.header {
  background-color: black;
  height: 60px;
}

.logo {
  float: left;
  width: 40px;
  height: 40px;
  background: white;
  margin: 10px 0 10px 20px;
}

.title {
  position: relative;
  top: 30px;
  left: 10px;
  color: white;
  font-size: 18px;
}

.userSearch {
  position: relative;
  left: 220px;
  top: 5px;
}

input {
    color: white;
    font-weight: 200;
}
input:focus {
    color: black;
    font-weight: 200;
}

.searchInput {
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  background: rgba(200, 200, 200, 0.6);
  border: transparent !important;
}

.loading {
  margin-top: 40px;
  margin-left: 30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.searchInput:focus {
  background: rgba(255, 255, 255, 1);
  border: transparent !important;
  font-weight: 200;
  font-color: black !important;
}

.searchInput:after {
  font-color: white;
}

input:focus::-webkit-input-placeholder {
    color: black;
}

input:focus:-moz-placeholder {
    color: black;
}

input:focus::-moz-placeholder {
    color: black;
}

input:focus:-ms-input-placeholder {
    color: black;
}

.searchBtn {
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  background: rgba(255, 255, 255);
  border: transparent !important;
  margin-left: 5px;
  font-weight: bold;
}

.DisplayUser {
  text-align: left;
  margin: 30px;
  max-width: 40%;
}

.DisplayUser * {
  padding: 5px;
}

.avatar {
  width: 200px;
  border-radius: 10px;
}